@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
	navigation: auto;
	view-transition-name: root;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.5s;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-white: #f8f9fa;
	--font-body: Manrope, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--grid-template-columns-list: repeat(auto-fill, minmax(400px, max-content));
}

/* Typography overrides */
.prose blockquote {
	quotes: none;
}

@layer base {

	html {
		font-family: 'Raleway', sans-serif;
	}

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply !text-zinc-800;
	}

	html.dark .prose h1,
	html.dark h2,
	html.dark h3,
	html.dark h4,
	html.dark h5,
	html.dark h6 {
		@apply !text-zinc-100;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--color-gray-900) !important;
	}
}

.glass {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

a.link {
	text-decoration: underline;
}

@keyframes fade-and-grow {
	0% {
		scale: 0.985;
		opacity: 0.6;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}

.appear-smoothly {
	animation: fade-and-grow 0.6s ease;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadein {
	animation: fadein 0.6s ease;
}

a,
.manipulation {
	touch-action: manipulation;
}

button,
a {
	pointer-events: auto;
}