---
import { type CollectionEntry, getCollection } from 'astro:content'
import App from '@/layouts/App'
import Code from '@/components/mdx/Code'
import { getApps } from '@/utils'
import SButton from '@/components/mdx/SButton'
import { disqusConfig } from '@/data/disqus.config'

export async function getStaticPaths() {
	const apps = await getApps()

	return apps.map((app) => ({
		params: { slug: app.slug },
		props: app
	}))
}
type Props = CollectionEntry<'app'>

const app = Astro.props

const { Content, headings, remarkPluginFrontmatter } = await app.render()
---

<App id={app.id} data={app.data} headings={headings} readTime={remarkPluginFrontmatter.minutesRead}>
	<article class='max-w-full w-full'>
		<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
			<Content components={{ pre: Code, SButton }} />
		</div>
	</article>
</App>
