---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getDoc } from '@/utils'
import TitlePage from '@/components/TitlePage'

const doc = await getDoc('about.md')
const { Content } = await doc.render()
---

<BaseLayout title='About Me'>
	<div class='max-w-[800px] mx-auto'>
		<TitlePage title='About Me' />
	</div>
	<div class='fadein prose prose-lg md:prose-xl dark:prose-invert mb-12 max-w-[800px] mx-auto'>
		<Content />
	</div>
</BaseLayout>
