---
import BaseLayout from '../layouts/BaseLayout.astro'
import TitlePage from '@/components/TitlePage'
import { Content } from '../content/doc/about.mdx'
import { Picture } from 'astro-imagetools/components'
---

<BaseLayout title='About Me'>
	<div class='max-w-[800px] mx-auto'>
		<TitlePage title='Hola Amigos!' />

		<div
			class='relative w-[130px] h-[130px] float-right mr-4 ml-4 rounded appear-smoothly overflow-hidden'
		>
			<Picture
				src={'/src/assets/images/nerd-avatar-mini.png'}
				alt='This is me reviewing code'
				width={130}
				placeholder='blurred'
				quality={80}
				layout='fill'
				loading='eager'
			/>
		</div>
	</div>

	<div class='fadein prose prose-lg md:prose-xl dark:prose-invert mb-12 max-w-[800px] mx-auto'>
		<Content />
	</div>
</BaseLayout>
