---
import BaseLayout from '../layouts/BaseLayout.astro'
import TitlePage from '@/components/TitlePage'
import { Content } from '../content/doc/cookie-policy.md'
---

<BaseLayout title='Cookie Policy'>
	<div class='max-w-[800px] mx-auto'>
		<TitlePage title='Cookie Policy' />
	</div>
	<div class='fadein prose prose-lg md:prose-xl dark:prose-invert mb-12 max-w-[800px] mx-auto'>
		<Content />
	</div>
</BaseLayout>
