---
import BaseLayout from '../layouts/BaseLayout.astro'
import TitlePage from '@/components/TitlePage'
import { Content } from '../content/doc/cookie-policy.md'
---

<BaseLayout title='Cookie Policy'>
	<TitlePage title='Cookie Policy' />
	<div class='fadein prose prose-lg md:prose-xl dark:prose-invert mb-12'>
		<Content />
	</div>
</BaseLayout>
