---
import ListPosts from '@/components/ListPosts'
import ListApps from '@/components/ListApps'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts, getApps, getDoc } from '@/utils'

const MAX_ITEMS = 3

const posts = await getPosts(MAX_ITEMS)
const apps = await getApps(2)

const doc = await getDoc('intro.md')
const { Content } = await doc.render()
---

<BaseLayout title='Home'>
	<TitlePage title='Hola Amigos!' />

	<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full text-end'>
		<Content />
	</div>

	<div>
		<a href='/apps'>
			<h2 class='text-lg font-medium tracking-wide text-start'>Newest Apps!</h2>
		</a>
		<ListApps FirstBig={true} apps={apps} />
	</div>

	<div>
		<a href='/blog'>
			<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		</a>
		<ListPosts FirstBig={false} posts={posts} />
	</div>
</BaseLayout>
