---
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts, getDoc } from '@/utils'
import Code from '@/components/mdx/Code'
import SButton from '@/components/mdx/SButton'

const MAX_POSTS = 3

const posts = await getPosts(MAX_POSTS)

const doc = await getDoc('intro.md')
const { Content } = await doc.render()
---

<BaseLayout title='Home'>
	<TitlePage title='Hola Amigos!' />

	<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full text-end'>
		<Content components={{ pre: Code, SButton }} />
	</div>

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts FirstBig={false} posts={posts} />
	</div>
</BaseLayout>
