---
import ListItems from '@/components/ListItems'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts, getApps, getDoc } from '@/utils'
import SunIcon from '@/components/icons/SunIcon'

const MAX_ITEMS = 3

const posts = await getPosts(MAX_ITEMS)
const apps = await getApps(2)
---

<BaseLayout title='Home'>
	<p class='text-4xl font-large text-end mt-4 mb-4 font-bold'>
		Welcome to <a class='underline' href='/about'>my website,</a> fellow explorer!
	</p>
	<p class='text-2xl font-large text-end mb-9 leading-normal'>
		<span class='font-bold'
			>Have a lovely day <span class='dark:text-[#FFC107]'><SunIcon class='inline w-6 h-6' /></span
			></span
		>
	</p>

	<div>
		<a href='/apps'>
			<h2 class='text-lg font-medium tracking-wide text-start'>New apps available!</h2>
		</a>
		<ListItems FirstBig={true} items={apps} />
	</div>

	<div>
		<a href='/blog'>
			<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		</a>
		<ListItems FirstBig={false} items={posts} />
	</div>
</BaseLayout>
