---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getDoc } from '@/utils'
import TitlePage from '@/components/TitlePage'

const doc = await getDoc('support.md')
const { Content } = await doc.render()
---

<BaseLayout title='Support'>
	<TitlePage title='Support' />
	<div class='fadein prose prose-lg md:prose-xl dark:prose-invert mb-12'>
		<Content />
	</div>
</BaseLayout>
