---
import { siteConfig } from '@/data/site.config'
const gtmId = siteConfig.gtmId
---

<div
	id='cookie-banner'
	class='fadein bg-[#0a0910] bg-opacity-80 backdrop-blur-sm border-t border-t-gray-600 text-white fixed bottom-0 left-0 w-full text-white p-4 flex flex-col md:flex-row items-center justify-between gap-4 shadow-lg z-50 hidden'
	data-gtm-id={gtmId}
	transition:persist='ignore-transitions'
>
	<div class='text-sm md:text-base'>
		We use cookies to enhance your browsing experience. Read our <a
			href='/cookie-policy'
			class='underline'>Cookie Policy</a
		>.
	</div>
	<div class='flex gap-4'>
		<button
			class='bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded-md text-sm md:text-base cursor-pointer'
			id='accept-only-required'
		>
			Accept Required Only
		</button>
		<button
			class='hover:bg-blue-100 bg-white text-stone-950 py-2 px-4 rounded-md text-sm md:text-base cursor-pointer'
			id='accept-all-cookies'
		>
			Accept All Cookies
		</button>
	</div>
</div>

<script type='module' src='/scripts/cookie-consent.js'></script>
