---
import { siteConfig } from '@/data/site.config'
const gtmId = siteConfig.gtmId
---

<div
	id='cookie-banner'
	class='fadein bg-[#0a0910] bg-opacity-80 backdrop-blur-sm border-t border-t-gray-600 text-white fixed bottom-0 left-0 w-full text-white p-4 flex flex-col md:flex-row items-center justify-between gap-4 shadow-lg z-50 hidden'
	data-gtm-id={gtmId}
	transition:persist='ignore-transitions'
>
	<div class='text-sm md:text-base'>
		We use cookies to enhance your browsing experience. Read our <a
			href='/cookie-policy'
			class='underline'>Cookie Policy</a
		>.
	</div>
	<div class='flex gap-4'>
		<button
			class='bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded-md text-sm md:text-base'
			id='accept-only-required'
		>
			Accept Required Only
		</button>
		<button
			class='hover:bg-blue-100 bg-white text-stone-950 py-2 px-4 rounded-md text-sm md:text-base'
			id='accept-all-cookies'
		>
			Accept All Cookies
		</button>
	</div>
</div>

<script>
	function sendAllowAndPageView() {
		const path = window.location.pathname
		const title = document.title

		window.dataLayer = window.dataLayer || []

		window.dataLayer.push({
			event: 'gtm.init_consent',
			default: {
				analytics_storage: 'granted', // Example value
				ad_storage: 'granted', // Example value
				functionality_storage: 'granted',
				personalization_storage: 'granted',
				security_storage: 'granted'
			}
		})

		window.dataLayer.push({
			event: 'gtm.js',
			timestamp: new Date().getTime() // Optional: Add a timestamp for debugging
		})

		window.dataLayer.push({
			event: 'gtm.init'
		})

		window.dataLayer.push({
			event: 'pageview',
			page: {
				path,
				title
			}
		})
	}

	const startGtm = () => {
		const cookieBanner = document.getElementById('cookie-banner')
		const gtmId = cookieBanner ? cookieBanner.dataset.gtmId : ''
		if (!gtmId) {
			return
		}
		sendAllowAndPageView()
	}

	const setCookie = (name: string, value: string, days: number) => {
		const expires = new Date(Date.now() + days * 24 * 60 * 60 * 1000).toUTCString()
		document.cookie = `${name}=${value}; expires=${expires}; path=/; SameSite=Lax`
	}

	const hideBanner = () => {
		const cookieBanner = document.getElementById('cookie-banner')
		if (cookieBanner) {
			cookieBanner.classList.add('hidden')
		}
	}

	const showBanner = () => {
		const cookieBanner = document.getElementById('cookie-banner')
		if (cookieBanner) {
			cookieBanner.classList.remove('hidden')
		}
	}

	const acceptOnlyRequired = () => {
		const cookiesChanged = document.cookie.includes('cookies_accepted')
		setCookie('cookies_accepted', 'required', 365)
		hideBanner()
		if (cookiesChanged) {
			location.reload()
		}
	}

	const acceptAllCookies = () => {
		setCookie('cookies_accepted', 'all', 365)
		startGtm()
		hideBanner()
	}

	const checkCookieConsent = () => {
		const cookiesReviewed = document.cookie.includes('cookies_accepted')

		if (!cookiesReviewed) {
			showBanner()
			return
		}

		const cookieValue = (document.cookie || '')
			.split(';')
			.find((cookie) => cookie.includes('cookies_accepted'))

		const allCookiesAccepted = (cookieValue || '').includes('all')

		if (allCookiesAccepted) {
			startGtm()
		}

		hideBanner()
	}

	const addEventListeners = () => {
		const acceptOnlyRequiredButton = document.getElementById('accept-only-required')
		const acceptAllCookiesButton = document.getElementById('accept-all-cookies')

		if (acceptOnlyRequiredButton && acceptAllCookiesButton) {
			acceptOnlyRequiredButton.addEventListener('click', acceptOnlyRequired)
			acceptAllCookiesButton.addEventListener('click', acceptAllCookies)
		}
	}

	document.addEventListener('astro:page-load', () => {
		addEventListeners()
		checkCookieConsent()
	})
</script>
