<div class='flex justify-center md:justify-start items-center gap-2 title mb-6 md:mb-12'>
	<svg
		class='dark:invert md:mr-1 w-[100%] h-[100%] md:w-[100%] md:h-[100%]'
		viewBox='0 0 512 512'
		xmlns='http://www.w3.org/2000/svg'
	>
		<!-- Background Rectangles -->
		<g transform='matrix(1.13808,0,0,0.836814,-10.4928,-7.71521)'>
			<rect
				class='appear-later'
				x='9.22'
				y='9.22'
				width='224.941'
				height='305.922'
				style='fill:rgb(255,255,255, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
		</g>
		<g transform='matrix(1.13808,0,0,0.836814,-10.4928,248.285)'>
			<rect
				class='appear-later'
				x='9.22'
				y='9.22'
				width='224.941'
				height='305.922'
				style='fill:rgb(214,212,231, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
		</g>
		<g transform='matrix(1.13808,0,0,0.836814,245.507,248.285)'>
			<rect
				class='appear-later'
				x='9.22'
				y='9.22'
				width='224.941'
				height='305.922'
				style='fill:rgb(214,212,231, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
		</g>
		<g transform='matrix(1.13808,0,0,0.836814,245.507,-7.71521)'>
			<rect
				class='appear-later'
				x='9.22'
				y='9.22'
				width='224.941'
				height='305.922'
				style='fill:rgb(214,212,231, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
		</g>

		<!-- Animated Darker Path -->
		<g transform='matrix(0.586257,-0.586257,0.611603,0.611603,-46.5342,246.846)'>
			<path
				class='fade-in-element'
				d='M468.549,45.527L468.549,464.099L31.88,464.099L31.88,45.527L468.549,45.527ZM400.707,110.557L99.722,110.557L99.722,399.069L400.707,399.069L400.707,110.557Z'
				style='fill:rgb(39,36,64);'></path>
		</g>

		<!-- Animated Vertical Rectangles -->
		<g transform='matrix(1.24559,1.1517e-16,-3.09555e-16,1.03709,-45.6984,-4.99862)'>
			<rect
				class='slide-in-element-2'
				x='217.77'
				y='60.595'
				width='48.887'
				height='382.137'
				style='fill:rgb(39,36,64);'></rect>
		</g>
		<g transform='matrix(0.586257,-0.586257,0.611603,0.611603,-46.5342,246.846)'>
			<path
				class='slide-in-element'
				d='M31.88,45.527L416.615,45.527L348.774,110.557L99.722,110.557L31.88,45.527Z'
				style='fill:rgb(214,212,231, 0.9);'></path>
		</g>
	</svg>
</div>

<style>
	/* Animations */
	@keyframes slideInFromLeft {
		0% {
			transform: translateX(-100%);
			opacity: 0;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes slideInFromBelow {
		0% {
			transform: translateY(-100%);
			opacity: 1;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes transformIn {
		0% {
			opacity: 0;
			transform: rotateX(90deg) rotateY(-90deg) scale(0.7);
			transform-origin: center;
		}
		100% {
			opacity: 1;
			transform: rotateX(0deg) rotateY(0deg) scale(1);
			transform-origin: center;
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	/* Apply animations to specific elements */
	.slide-in-element {
		opacity: 0;
		animation: slideInFromLeft 0.6s ease-out forwards;
		animation-delay: 1s; /* Delay start */
	}

	.slide-in-element-2 {
		opacity: 0;
		animation: slideInFromBelow 0.6s ease-out forwards;
		animation-delay: 1.4s; /* Delay start */
	}

	.fade-in-element {
		animation: transformIn 0.8s ease-in forwards;
		animation-delay: 0s; /* Delay start */
		opacity: 0;
	}
	.appear-later {
		animation: fadeIn 0.8s ease-in forwards;
		animation-delay: 1.5s;
		opacity: 0;
	}
</style>
