<div class='intro-box'>
	<a href='/apps'>
		<svg class='dark:invert animated-logo' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'>
			<!-- Background Rectangles -->
			<g transform='matrix(1.13808,0,0,0.836814,-10.4928,-7.71521)'>
				<rect
					class='appear-later'
					x='9.22'
					y='9.22'
					width='224.941'
					height='305.922'
					style='fill:rgb(255,255,255, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
			</g>
			<g transform='matrix(1.13808,0,0,0.836814,-10.4928,248.285)'>
				<rect
					class='appear-later'
					x='9.22'
					y='9.22'
					width='224.941'
					height='305.922'
					style='fill:rgb(214,212,231, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
			</g>
			<g transform='matrix(1.13808,0,0,0.836814,245.507,248.285)'>
				<rect
					class='appear-later'
					x='9.22'
					y='9.22'
					width='224.941'
					height='305.922'
					style='fill:rgb(214,212,231, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
			</g>
			<g transform='matrix(1.13808,0,0,0.836814,245.507,-7.71521)'>
				<rect
					class='appear-later'
					x='9.22'
					y='9.22'
					width='224.941'
					height='305.922'
					style='fill:rgb(214,212,231, 0.5);stroke:rgb(39,36,64);stroke-width:1px;'></rect>
			</g>

			<!-- Animated Darker Path -->
			<g transform='matrix(0.586257,-0.586257,0.611603,0.611603,-46.5342,246.846)'>
				<path
					class='fade-in-element'
					d='M468.549,45.527L468.549,464.099L31.88,464.099L31.88,45.527L468.549,45.527ZM400.707,110.557L99.722,110.557L99.722,399.069L400.707,399.069L400.707,110.557Z'
					style='fill:rgb(39,36,64);'></path>
			</g>

			<!-- Animated Vertical Rectangles -->
			<g transform='matrix(1.24559,1.1517e-16,-3.09555e-16,1.03709,-45.6984,-4.99862)'>
				<rect
					class='slide-in-element-2'
					x='217.77'
					y='60.595'
					width='48.887'
					height='382.137'
					style='fill:rgb(39,36,64);'></rect>
			</g>
			<g transform='matrix(0.586257,-0.586257,0.611603,0.611603,-46.5342,246.846)'>
				<path
					class='slide-in-element'
					d='M31.88,45.527L416.615,45.527L348.774,110.557L99.722,110.557L31.88,45.527Z'
					style='fill:rgb(214,212,231, 0.9);'></path>
			</g>
		</svg>
	</a>
	<div class='flex flex-col j-donado'>
		<p class='text-3xl name'>
			<a class='font-bold' href='/about'> Javier Donado </a>
		</p>
		<p class='subtitle'>
			<a href='/pulse'> PRODUCT ENGINEERING</a>
		</p>
	</div>
</div>

<style>
	/* Animations */
	@keyframes slideInFromLeft {
		0% {
			transform: translateX(-100%);
			opacity: 0.7;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes slideInFromBelow {
		0% {
			transform: translateY(-100%);
			opacity: 0.7;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes transformIn {
		0% {
			opacity: 0;
			transform: rotateX(90deg) rotateY(-90deg);
			transform-origin: center;
		}
		100% {
			opacity: 1;
			transform: rotateX(0deg) rotateY(0deg);
			transform-origin: center;
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes shrinkMe {
		0% {
		}
		100% {
			width: 15%;
		}
	}

	@keyframes moveLeft {
		0% {
			transform: translateX(-50%) translateY(-50%);
		}
		100% {
			transform: translateX(calc(-100% - 2rem)) translateY(-50%);
		}
	}

	@keyframes moveRight {
		0% {
			transform: translateX(-50%) translateY(-50%);
		}
		100% {
			transform: translateX(0%) translateY(-50%);
		}
	}

	.intro-box {
		width: 100%;
		height: 73vh;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.slide-in-element {
		opacity: 0;
		animation: slideInFromLeft 0.8s ease-out forwards;
		animation-delay: 1s;
		z-index: 10;
	}

	.slide-in-element-2 {
		opacity: 0;
		animation: slideInFromBelow 0.8s ease-out forwards;
		animation-delay: 1.4s;
		z-index: 10;
	}

	.fade-in-element {
		animation: transformIn 0.8s ease-in forwards;
		animation-delay: 0s; /* Delay start */
		opacity: 0;
	}
	.appear-later {
		animation: fadeIn 0.8s ease-in forwards;
		animation-delay: 1.6s;
		opacity: 0;
	}

	.j-donado {
		position: absolute;
		transform: translateY(-50%) translateX(-50%);
		top: 50%;
		left: 50%;
		animation:
			fadeIn 0.8s ease-in forwards,
			moveRight 1.6s ease forwards;
		animation-delay: 3.2s, 3.1s;
		opacity: 0;
	}

	.j-donado p a {
		text-decoration: underline;
		text-decoration-thickness: 1px; /* Adjust as needed */
		text-underline-offset: 0.1em; /* Adjust as needed */
		text-decoration-color: color-mix(in srgb, var(--pagefind-ui-text) 50%, transparent);
	}

	.j-donado p.name {
		font-size: clamp(2.3rem, 4.05vw, 3.12rem);
	}

	.j-donado p.subtitle {
		font-size: clamp(1.38rem, 2.4vw, 1.84rem);
	}

	.animated-logo {
		width: min(80vw, 80vh);
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		transform-origin: center;
		animation:
			shrinkMe 1.3s ease forwards,
			moveLeft 1.6s ease forwards;
		animation-delay: 1.3s, 3.1s;
		position: absolute;
	}

	@media (orientation: portrait) {
		.intro-box {
			min-height: 40rem;
		}
		.animated-logo {
			width: clamp(20rem, 75%, 24vh);
			top: 2rem;
			left: 50%;
			transform: translateX(-50%);
			animation: none;
			animation-delay: 1.3s;
		}

		.j-donado {
			top: calc(55% + 4.5rem);
			left: 50%;
			width: 100%;
			transform: translateX(-50%);
			animation: fadeIn 0.8s ease-in forwards;
			animation-delay: 2.2s;
		}
		.j-donado p {
			text-align: center;
			margin-bottom: 2rem;
		}
	}
</style>
