---
import type { CollectionEntry } from 'astro:content'
import ContentCard from '@/components/ContentCard'
import { cn } from '@/utils'

type item = CollectionEntry<'blog' | 'app'>

type Props = {
	items: item[]
	FirstBig?: boolean
}

const { items, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		(items || []).map(async (item) => {
			const { remarkPluginFrontmatter } = await item.render()

			return (
				<ContentCard
					id={item.id}
					data={item.data}
					slug={item.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
