---
import type { CollectionEntry } from 'astro:content'
import AppCard from '@/components/AppCard'
import { cn } from '@/utils'

type Props = {
	apps: CollectionEntry<'app'>[]
	FirstBig?: boolean
}

const { apps, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		apps.map(async (app) => {
			const { remarkPluginFrontmatter } = await app.render()

			return (
				<AppCard
					id={app.id}
					data={app.data}
					slug={app.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
