---
import type { CollectionEntry } from 'astro:content'

import { cn } from '@/utils'
import { Image } from 'astro:assets'

type Props = {
	posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

{
	posts.length > 0 && (
		<>
			<h2 class='font-bold text-lg dark:text-white mb-6'>Related Posts</h2>
			<section class={cn(`flex flex-col md:flex-row sm:justify-between gap-8`)}>
				{posts.map((post) => {
					return (
						<a href={`/post/${post.slug}/`} class='flex flex-wrap gap-2'>
							<div class='min-h-full'>
								<Image
									src={post.data.heroImage}
									width={200}
									height={200}
									format='webp'
									class='w-16 h-16 object-cover rounded-full  '
									alt={`img of ${post.data.title}`}
								/>
							</div>
							<header class='flex justify-center items-center'>
								<span class='font-medium  hover:underline'>{post.data.title}</span>
							</header>
						</a>
					)
				})}
			</section>
		</>
	)
}
