---
import { siteConfig } from '@/data/site.config'
import TwitterIcon from '@/components/icons/TwitterIcon'
import LinkedinIcon from './icons/LinkedInIcon.astro'

const URL = Astro.url.href

const showTitle = Astro.props.showTitle
const message = Astro.props.message || siteConfig.shareMessage
---

<div class='flex flex-col gap-2'>
	{showTitle && <span class='mb-1 font-bold text-2xl'>Share</span>}
	<div class='flex gap-3 text-black dark:text-white items-center'>
		<b>Share: </b>
		<div>
			<a
				href={`https://twitter.com/intent/tweet?text=${message + ' ' + URL}`}
				aria-label='Share on Twitter'><TwitterIcon /></a
			>
		</div>
		<div>
			<a
				href={`https://www.linkedin.com/shareArticle?mini=true&url=${URL}`}
				aria-label='Share on LinkedIn'
			>
				<LinkedinIcon /></a
			>
		</div>
	</div>
</div>
