---
import Title from './Title.astro'
import JDonadoIcon from '@/components/icons/JDonadoIcon'

type Props = {
	title: string
	isTag?: boolean
}

const { title, isTag } = Astro.props
---

<div class='flex justify-start items-center gap-2 title mb-6 md:mb-12'>
	<JDonadoIcon />
	<Title isTag={isTag}>{title}</Title>
</div>
