---
import SunIcon from '@/components/icons/SunIcon'
import MoonIcon from '@/components/icons/MoonIcon'
---

<script type='module' src='/scripts/toggle-theme.js'></script>

<theme-toggle class='relative h-6 w-6'>
	<button id='toggle-theme' class='group cursor-pointer' aria-label='Toggle Theme'>
		<span class='absolute left-0 right-0 top-0 opacity-0 group-aria-pressed:opacity-100'>
			<SunIcon />
		</span>

		<span class='absolute left-0 right-0 top-0 opacity-0 group-aria-[pressed=false]:opacity-100'>
			<MoonIcon />
		</span>
	</button>
</theme-toggle>
