---
import CopyIcon from '../icons/CopyIcon.astro'
import CheckIcon from '../icons/CheckIcon.astro'
---

<pre
	class='shiki-themes relative code'
	style='white-space: pre-wrap; word-wrap: break-word;'><button aria-label="copy-button" class="copy-button absolute  z-20 top-2 right-2  rounded-md transition-all ease-in max-w-full max-h-fit"><CopyIcon /></button><span class="check-span absolute z-10 top-2 right-2  rounded-md transition-all ease-in opacity-0 text-green-600 max-w-full max-h-fit "><CheckIcon /></span><slot /></pre>

<script type='module' src='/scripts/code-copy.js'></script>
